
*.cache
Constantes/ConsoleApp1/obj/project.assets.json
Constantes/ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.AssemblyInfo.cs
Constantes/ConsoleApp1/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Constantes/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
Constantes/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
Constantes/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
Constantes/ConsoleApp1/ConsoleApp1.csproj
Constantes/.vs/Constantes/v16/.suo
Constantes/Constantes.sln
Constantes/ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.pdb
Constantes/ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.dll
Constantes/ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.csproj.FileListAbsolute.txt
Constantes/ConsoleApp1/obj/Debug/netcoreapp3.1/apphost.exe
Constantes/ConsoleApp1/bin/Debug/netcoreapp3.1/ConsoleApp1.runtimeconfig.json
Constantes/ConsoleApp1/bin/Debug/netcoreapp3.1/ConsoleApp1.runtimeconfig.dev.json
Constantes/ConsoleApp1/bin/Debug/netcoreapp3.1/ConsoleApp1.pdb
Constantes/ConsoleApp1/bin/Debug/netcoreapp3.1/ConsoleApp1.exe
Constantes/ConsoleApp1/bin/Debug/netcoreapp3.1/ConsoleApp1.dll
Constantes/ConsoleApp1/bin/Debug/netcoreapp3.1/ConsoleApp1.deps.json
